/*general styling for all pages*/
body {
    background-color: #fcfaf5;
    font-family: "Baloo Thambi 2", sans-serif; 
    color: #666666;
}

img {
  width: 100%;
  height: auto;
}

/*index.html styling*/
#indeximage {
    padding-top: 30px;
}

#indextext {
    font-size: 2.5rem;
}


