/*general styling for all pages*/
body {
    background-color: #fcfaf5;
    font-family: "Baloo Thambi 2", sans-serif; 
    color: #666666;
    text-align: center;
}

img {
  width: 100%;
  height: auto;
}

a {
    text-decoration: none !important;
}

/*index.html styling*/
#indeximage {
    padding-top: 30px;
}

#indextext {
    font-size: 2.5rem;
}

.card-deck {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/*create.html styling*/
#createimage {
    padding-top: 30px;
}

#createtext {
    font-size: 2.5rem;
}

#addanother {
    margin-left: 30px;
}

/*read.html styling*/
#readimage {
    padding-top: 30px;
}

#readtext {
    font-size: 2.5rem;
}

/*update.html styling*/
#updateimage {
    padding-top: 30px;
}

#updatetext {
    font-size: 2.5rem;
}


