/*general styling for all pages*/
body {
    background-color: #fcfaf5;
    font-family: "Baloo Thambi 2", sans-serif; 
    color: #666666;
    text-align: center;
}

img {
  width: 100%;
  height: auto;
}

a {
    text-decoration: none !important;
}

.btn {
    margin-top: 10px;
    font-size: 0.75rem;
}

.btn:hover {
  background-color: #666666;
}

.sidenav-trigger {
    float: left;
}

#sidenav-logo {
    color: #8bc34a;
}

/*index.html styling*/
#indeximage {
    padding-top: 30px;
}

#indextext {
    font-size: 2.5rem;
}

.card-deck {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.waves-effect {
    background-color: #8bc34a;
}

#addbtn {
    padding-bottom: 30px;
}

#addbtnindex {
    padding-bottom: 30px;
}

/*create.html styling*/
#createimage {
    padding-top: 30px;
}

#createtext {
    font-size: 2.5rem;
}

#addanother {
    margin-left: 30px;
}

/*read.html styling*/
.readdoc {
    background-color: white;
    border-style: solid;
    border-width: 10px;}

#readimage {
    padding-top: 30px;
}

#readtext {
    font-size: 2.5rem;
}

#readbtns {
    padding-bottom: 30px;
}

#addbtnindex {
    padding-bottom: 30px;
}

/*update.html styling*/
#updateimage {
    padding-top: 30px;
}

#updatetext {
    font-size: 2.5rem;
}

.input-field {
    margin-left: 30px;
}

