{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 col m6 float-left valign-wrapper" id="createimage">
      <img
        class="responsive-img"
        src="{{url_for('static', filename='/images/' + '404image.png')}}"
        alt="picture of hiding behind leaves"
      />
    </div>
    <div class="col s12 col m6 my-auto text-sm-center" id="createtext">
      <h2>Oh No!</h2>
      <p>That page couldn't be found</p>
      <br />
      <p>
        Click the button to go back home
      </p>
    </div>
  </div>
</div>

  <p><a class="waves-effect waves-light btn btn-block hvr-float-shadow white-text" href="{{ url_for('index') }}">Go back home</a></p>
  
{% endblock %}