{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 float-left" id="indeximage">
      <img
        class="img-fluid"
        src="{{url_for('static', filename='/images/' + 'handholdingsoil.png')}}"
        alt="picture of a hand holding soil"
      />
    </div>
    <div class="col-sm-12 col-md-6 my-auto text-sm-center" id="indextext">
      <h2>Grow & Learn</h2>
      <p>Learn from the past!</p>
      <br />
      <p>
        Record your UK plant growing experiences and learn from them. Learn from
        others, and every year will be better than the last.
      </p>
    </div>
  </div>
</div>

<!--bootstrap cards-->

<div class="card-deck">
  <div class="card z-depth-4">
    <img
      src="{{url_for('static', filename='/images/' + 'p1card1.png')}}"
      class="card-img-top"
      alt="page 1 card general image"
    />
    <div class="card-body">
      <h5 class="card-title">Record your planting</h5>
      <p class="card-text">
        What did you plant, when and where did you plant it, what did you do to
        help it grow when planting? Upload an image of the seed packet to help
        you and others in the future.
      </p>
    </div>
  </div>
  <div class="card z-depth-4">
    <img
      src="{{url_for('static', filename='/images/' + 'p1card2.png')}}"
      class="card-img-top"
      alt="page 1 card general image"
    />
    <div class="card-body">
      <h5 class="card-title">Add to your experience as you go</h5>
      <p class="card-text">
        What did you do as it grew, what mistakes did you make, how did it end
        up, would you grow it again?
      </p>
    </div>
  </div>
  <div class="card z-depth-4">
    <img
      src="{{url_for('static', filename='/images/' + 'p1card3.png')}}"
      class="card-img-top"
      alt="page 1 card general image"
    />
    <div class="card-body">
      <h5 class="card-title">Learn from others</h5>
      <p class="card-text">
        Look at your past experience and look at the experiences of others,
        learn from their successes and mistakes. See what has worked for them
        and what hasn't.
      </p>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
{% for plant in planting_records %}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg" alt="seed pack image">
        </div>
        <div class="card-content">
        <span class="card-title">{{plant.plant_name}}</span>
          <p>Planted: {{plant.date_planted}}</p>
          <p>Notes: {{plant.plant_notes}}</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('read_planting', plant_id=plant._id)}}">More Details</a>
          <a href="{{url_for('update_planting', plant_id=plant._id)}}" class="card-link">Update</a>
    <a href="#" class="card-link">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}

