{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 float-left" id="indeximage">
      <img
        class="img-fluid"
        src="{{url_for('static', filename='/images/' + 'handholdingsoil.png')}}"
        alt="picture of a hand holding soil"
      />
    </div>
    <div class="col-sm-12 col-md-6 my-auto text-sm-center" id="indextext">
      <h2>Grow & Learn</h2>
      <p>Keep track of your plants from one year to the next</p>
      <br />
      <p>
        An easy way to record your growing experiences from one year to the
        next. Don't make the same mistakes twice, and every year you will find
        that you improve and your plants flourish.
      </p>
    </div>
  </div>
</div>


{% endblock %}
